/*This is the body*/
body {
    font-family: Arial, Verdana, sans-serif;
    background-color: #000;
    color:white;
    margin: 20px auto 0 auto;
    text-align: left;
}

/*Style of the <h1> heading*/
h1 {
    font-size: 42px;
    text-align: center;
    padding: 15px;
}

/* Style of h2*/
h2{
    font-size: 30px;
    color: #0d0d0d
}

/*Styling the paragraphs: */
p {
    font-size: 24px;
    padding: 10px 0 0 10px;
}

/*Doing the image style */
img {
    width: 250px;
    display: block;
    margin: 0 auto;
    border: 10px dashed white;
}

/*Style the div elements*/
div {
    min-height: 125px;
    padding: 20px;
    border: 3px solid white;
}

/*Styling the intro class*/
.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

/*Stylying the red class*/
.red {
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid black;
    border-right: 5px solid black;
}

/*Blue class style*/
.blue {
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-left: 5px solid black;
    border-bottom: 2px solid black;
    color: #c4c4c4;
}

/*Yellow class style */
.yellow {
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-top: 2px solid black;
    border-right: 5px solid black;
    color: #707070
}

/* Green class style */
.green {
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-left: 5px solid black;
    border-top: 2px solid black;
}

/*Styling the footer*/
footer {
    background: linear-gradient(90deg, #000000, #0000FF 25%, #0066FF 70%, #000000);
    border: 5px solid white;
}

/*Style any paragraph*/
footer p {
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0;
}